{
  "openapi": "3.0.0",
  "info": {
    "title": "Kirimi API",
    "version": "1.0.0",
    "description": "API documentation for Kirimi messaging service."
  },
  "servers": [
    {
      "url": "https://api.kirimi.id/v1"
    }
  ],
  "paths": {
    "/send-message": {
      "post": {
        "summary": "Send a text message",
        "operationId": "sendMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_code": {
                    "type": "string",
                    "description": "Your user code"
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Your device ID"
                  },
                  "receiver": {
                    "type": "string",
                    "description": "Receiver number"
                  },
                  "message": {
                    "type": "string",
                    "description": "Your message"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Your Secret Key"
                  }
                },
                "required": [
                  "user_code",
                  "device_id",
                  "receiver",
                  "message",
                  "secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/send-doc": {
      "post": {
        "summary": "Send a document",
        "operationId": "sendDocument",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_code": {
                    "type": "string",
                    "description": "Your user code"
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Your device ID"
                  },
                  "receiver": {
                    "type": "string",
                    "description": "Receiver number"
                  },
                  "message": {
                    "type": "string",
                    "description": "Your message"
                  },
                  "media": {
                    "type": "string",
                    "description": "URL Document"
                  },
                  "filename": {
                    "type": "string",
                    "description": "Your filename"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Your Secret Key"
                  }
                },
                "required": [
                  "user_code",
                  "device_id",
                  "receiver",
                  "message",
                  "media",
                  "filename",
                  "secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document sent successfully"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/send-image": {
      "post": {
        "summary": "Send an image",
        "operationId": "sendImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_code": {
                    "type": "string",
                    "description": "Your user code"
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Your device ID"
                  },
                  "receiver": {
                    "type": "string",
                    "description": "Receiver number"
                  },
                  "message": {
                    "type": "string",
                    "description": "Your message"
                  },
                  "media": {
                    "type": "string",
                    "description": "URL Image"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Your Secret Key"
                  }
                },
                "required": [
                  "user_code",
                  "device_id",
                  "receiver",
                  "message",
                  "media",
                  "secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image sent successfully"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/send-video": {
      "post": {
        "summary": "Send a video",
        "operationId": "sendVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_code": {
                    "type": "string",
                    "description": "Your user code"
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Your device ID"
                  },
                  "receiver": {
                    "type": "string",
                    "description": "Receiver number"
                  },
                  "message": {
                    "type": "string",
                    "description": "Your message"
                  },
                  "media": {
                    "type": "string",
                    "description": "URL Video"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Your Secret Key"
                  }
                },
                "required": [
                  "user_code",
                  "device_id",
                  "receiver",
                  "message",
                  "media",
                  "secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video sent successfully"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/send-audio": {
      "post": {
        "summary": "Send an audio message",
        "operationId": "sendAudio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_code": {
                    "type": "string",
                    "description": "Your user code"
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Your device ID"
                  },
                  "receiver": {
                    "type": "string",
                    "description": "Receiver number"
                  },
                  "message": {
                    "type": "string",
                    "description": "Your message"
                  },
                  "media": {
                    "type": "string",
                    "description": "URL Audio"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Your Secret Key"
                  }
                },
                "required": [
                  "user_code",
                  "device_id",
                  "receiver",
                  "message",
                  "media",
                  "secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio sent successfully"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  }
}
